// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Fuentes
$fuente-principal :'arial';
$fuente-secundaria :'arial';
$fuente-terciaria :'arial';

//Colores
$color-primario : #c94527;
$color-secundario :#e3ac26;
$color-terciario :#818181;

$color-black: #000;
$color-white: #fff;